---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_2TurqPJHW9Quds&email=john%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_Aljpxmr0B3B61NXZCx4eXOsG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\"\n  }\n}\n"
  recorded_at: Fri, 30 Aug 2013 18:53:33 GMT
recorded_with: VCR 2.5.0
