!!! 5
%html(lang="en-US")
  %body
    %p You have successfully registered for MyFlix. Welcome!
    %p Please save the following information for future refrence.
    %ul
      %li Email: #{@user.email}
      %li Password: #{@user.password}
    %footer
      &copy 2013 MyFLiX
