---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_2Txeh8Qd8Kl2vl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Aljpxmr0B3B61NXZCx4eXOsG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_2Txeh8Qd8Kl2vl\",\n  \"created\": 1377899227,\n
        \ \"livemode\": false,\n  \"type\": \"charge.succeeded\",\n  \"data\": {\n
        \   \"object\": {\n      \"id\": \"ch_2TxeCaxulWL2Pa\",\n      \"object\":
        \"charge\",\n      \"created\": 1377899227,\n      \"livemode\": false,\n
        \     \"paid\": true,\n      \"amount\": 999,\n      \"currency\": \"usd\",\n
        \     \"refunded\": false,\n      \"card\": {\n        \"id\": \"card_2TxelnlidBQpyj\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 8,\n        \"exp_year\": 2016,\n        \"fingerprint\":
        \"LQEcKvmcmISI9MHt\",\n        \"customer\": \"cus_2TxeeGXVGAg5oC\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      },\n      \"captured\": true,\n      \"refunds\": [],\n      \"balance_transaction\":
        \"txn_2TxeYPR6VlcrFy\",\n      \"failure_message\": null,\n      \"failure_code\":
        null,\n      \"amount_refunded\": 0,\n      \"customer\": \"cus_2TxeeGXVGAg5oC\",\n
        \     \"invoice\": \"in_2TxeNip1521FPM\",\n      \"description\": null,\n
        \     \"dispute\": null\n    }\n  },\n  \"object\": \"event\",\n  \"pending_webhooks\":
        0,\n  \"request\": \"iar_2Txeh7gS5DzQlh\"\n}\n"
  recorded_at: Sat, 31 Aug 2013 10:07:22 GMT
recorded_with: VCR 2.5.0
