---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_2UC2e9XSE8YjGL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Aljpxmr0B3B61NXZCx4eXOsG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_2UC2e9XSE8YjGL\",\n  \"created\": 1377952743,\n
        \ \"livemode\": false,\n  \"type\": \"charge.failed\",\n  \"data\": {\n    \"object\":
        {\n      \"id\": \"ch_2UC2jT3CmrvdQI\",\n      \"object\": \"charge\",\n      \"created\":
        1377952743,\n      \"livemode\": false,\n      \"paid\": false,\n      \"amount\":
        999,\n      \"currency\": \"usd\",\n      \"refunded\": false,\n      \"card\":
        {\n        \"id\": \"card_2UC0j00CWC4dRZ\",\n        \"object\": \"card\",\n
        \       \"last4\": \"0341\",\n        \"type\": \"Visa\",\n        \"exp_month\":
        8,\n        \"exp_year\": 2018,\n        \"fingerprint\": \"CNyAAUepy4ykYBRE\",\n
        \       \"customer\": \"cus_2UASeiEJ7EhHiA\",\n        \"country\": \"US\",\n
        \       \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      },\n      \"captured\": false,\n      \"refunds\": [],\n      \"balance_transaction\":
        null,\n      \"failure_message\": \"Your card was declined.\",\n      \"failure_code\":
        \"card_declined\",\n      \"amount_refunded\": 0,\n      \"customer\": \"cus_2UASeiEJ7EhHiA\",\n
        \     \"invoice\": null,\n      \"description\": \"Payment fail.\",\n      \"dispute\":
        null\n    }\n  },\n  \"object\": \"event\",\n  \"pending_webhooks\": 1,\n
        \ \"request\": \"iar_2UC2z6gf4GNBIx\"\n}\n"
  recorded_at: Sat, 31 Aug 2013 17:24:01 GMT
recorded_with: VCR 2.5.0
